<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Home Supplies Monitor</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body class="mx-auto">
<div class="container fs-4">

    <!-- HEADER -->
    <div th:insert="~{fragments/header}"></div>

    <!--ADD NEW ITEM-->
    <form th:object="${supply}" th:method="post" th:action="@{/}">

        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="text" th:name="name" class="form-control" placeholder="Item name" aria-label="Item name">

        <div class="row">
            <div class="col-md-6 w-50">
                <label for="new-supply-category"></label>
                <select id="new-supply-category" name="category"
                        class="form-select form-select-sm form-select-custom my-2 py-2">
                    <option th:each="category : ${T(com.yobombel.homesuppliesmonitor.model.enums.Category).values()}"
                            th:value="${category}" th:text="${category.getValue}"
                            th:label="${category.getValue}"></option>
                </select>
            </div>
            <div class="col-md-6 w-50">
                <label for="new-supply-name"></label>
                <select id="new-supply-name" name="amount"
                        class="form-select form-select-sm form-select-custom my-2 py-2">
                    <option th:each="amount : ${T(com.yobombel.homesuppliesmonitor.model.enums.Amount).values()}"
                            th:value="${amount}" th:text="${amount.getValue}"></option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add supply</button>
    </form>


    <!--CATEGORIES LIST-->
    <div class="row my-2">
        <div class="col-md-4" th:each="category : ${T(com.yobombel.homesuppliesmonitor.model.enums.Category).values()}">
            <h3 class="text-center text-lowercase capitalize-first" th:text="${category}"></h3>
            <div th:each="supply : ${allItemList}" th:if="${supply.getCategory()} == ${category}"
                 class="border border-info rounded p-2 mb-2 text-truncate">
                <span th:text="${supply.name}"
                      data-bs-toggle="tooltip" data-bs-placement="top"
                      data-bs-custom-class="custom-tooltip"
                      th:data-bs-title="${supply.name}">
                </span>
                <div class="d-flex flex-row justify-content-between">
                    <form th:object="${supply}" th:action="updateAmount" method="post"
                          th:name="${supply.name}" class="">
                        <input type="hidden" th:name="name" th:value="${supply.name}">

                        <label th:for="amount_id"></label>
                        <select th:id="item_amount_id" th:name="amount" th:onchange="this.form.submit()"
                                class="form-select form-select-sm form-select-custom">
                            <option th:value="${supply.amount.getValue}" th:text="${supply.amount.getValue}" selected
                                    disabled
                                    hidden></option>
                            <option th:each="amount : ${T(com.yobombel.homesuppliesmonitor.model.enums.Amount).values()}"
                                    th:text="${amount.getValue}"></option>
                        </select>

                    </form>
                    <form th:object="${supply}" th:action="delete" method="post" class="">
                        <input type="hidden" th:name="name" th:value="${supply.name}">
                        <button type="submit" class="btn btn-sm btn-outline-danger">Del</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="px-3" th:insert="~{fragments/footer}"></div>

<button type="button"
        class="btn btn-outline-info"
        id="btn-back-to-top">
    <img th:src="@{/img/arrow-up.svg}" width="100%" alt="back-to-top">
</button>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/scripts.js}"></script>

</body>
</html>